{% extends "app.html" %}

{% block title %}
    Dancare, ce qu'il faut savoir 
{% endblock %}

{% block content %}
     <!-- about banner -->
     <div class="custom_banner about page_section_big_padding">
        <div class="container">
            <!-- <div class="row"> -->
                <div class="title">
                    Notre plateforme
                    <svg class="arrow_container">
                        <use xlink:href="#arrow_down"></use>
                    </svg>
                </div>
            <!-- </div> -->
        </div>
    </div>
    <!-- about banner -->
    <!--  -->
    <section class="motivation page_section_medium_padding" id="motivation">
        <div class="container">
            <!-- <div class="row"> -->
                <div class="app_title">
                    Motivation et but
                </div>
                <div class="content bg_white">
                    <div class="col image_faq"></div>
                    <div class="col text">
                        Cette plateforme de <strong>détection de la Réthinopathie Diabetique a 
                        l'aide du deep learning</strong> sur la base de fourniture d'images d'oeil 
                        a été réalisée par deux (02) etudiants en Master Télécommunication et 
                        Mutimédias dans le cadre du projet final a rendre pour le cours de 
                        <strong>Traitement d'images et vison par ordinateur</strong> du 
                        <strong>Dr. DIOUF</strong>
                    </div>
                </div>
            <!-- </div> -->
        </div>
    </section>
    <!--  -->
    <!--  -->
    <section class="makers page_section_medium_padding" id="concepteurs">
        <div class="container">
            <!-- <div class="row"> -->
                <div class="app_title">
                    Concepteurs, auteurs
                </div>
                <div class="makers_people">
                    <div class="content">
                        <div class="col bg_white">
                            <div class="image_girl"></div>
                            <div class="name">
                                VLAVONOU Ludmila 
                            </div>
                        </div>
                        <div class="col bg_white">
                            <div class="image_boy"></div>
                            <div class="name">
                                BOLLY Assane 
                            </div>
                        </div>
                    </div>
                </div>
            <!-- </div> -->
        </div>
    </section>
    <!--  -->
{% endblock %}
