{% extends "app.html" %}

{% block title %}
    A propos 
{% endblock %}

{% block content %}
     <!-- about banner -->
     <div class="custom_banner about page_section_big_padding">
        <div class="container">
            <div class="title">
                A propos de nous
                <svg class="arrow_container">
                    <use xlink:href="#arrow_down"></use>
                </svg>
            </div>
        </div>
    </div>
    <!-- about banner -->
    <!--  -->
    <section class="page_section_big_padding">

    </section>
    <!--  -->
{% endblock %}
