{% extends "app.html" %}

{% block title %}
    Mise en pratique, démonstration
{% endblock %}

{% block content %}
  <!-- demo banner -->
  <div class="custom_banner demo page_section_big_padding">
    <div class="container">
      <div class="title">
        Test et démonstration
        <svg class="arrow_container">
          <use xlink:href="#arrow_down"></use>
        </svg>
      </div>
    </div>
  </div>
  <!-- demo banner -->
  <!-- test setion -->
  <section class="test page_section_big_padding">
    <div class="container">
      <h2 class="top_title">
        Assurer vous de sélectionner une image sur votre machine dans 
        <span class="second_color">la section gauche</span>, et ensuite 
        procéder au test <br/>Toufois nous vous conseillons d'utiliser 
        les images du dossier 
        <span class="second_color">diab_retina_app/test</span> 
      </h2>

      <div class="row">

              <div class="col bg_white image_container">
                  <img src="../static/images/demo/no-image.svg" id="banner" alt="select-img" >
              </div>
              <div class="col bg_white select_image_container">
                  <div class="card p-4 hoverable">
                      <div class="card_header">
                          <h5>Téléverser une image d'oeil</h5>
                      </div>
                      <div class="card-body">
                          <div class="row">
                              <div class="buttons">
                                  <button class="btn btn-indigo"><input type="file" id="image"/></button>
                                  <button class="btn btn-indigo" id="process">Tester<i class="fas fa-cloud-upload-alt"></i>
                                  </button>
                              </div>
      
                              <div class="loader ml-5" style="display: none;">
                                  <div class="spinner-grow text-primary" role="status">
                                      <span class="sr-only">Loading...</span>
                                  </div>
                                  <div class="spinner-grow text-secondary" role="status">
                                      <span class="sr-only">Loading...</span>
                                  </div>
                                  <div class="spinner-grow text-success" role="status">
                                      <span class="sr-only">Loading...</span>
                                  </div>
                                  <div class="spinner-grow text-danger" role="status">
                                      <span class="sr-only">Loading...</span>
                                  </div>
                                  <div class="spinner-grow text-warning" role="status">
                                      <span class="sr-only">Loading...</span>
                                  </div>
                                  <div class="spinner-grow text-info" role="status">
                                      <span class="sr-only">Loading...</span>
                                  </div>
                                  <div class="spinner-grow text-primary" role="status">
                                      <span class="sr-only">Loading...</span>
                                  </div>
                                  <div class="spinner-grow text-secondary" role="status">
                                      <span class="sr-only">Loading...</span>
                                  </div>
                              </div>
      
                              <div class="result" style="display: none;margin-left: 10%">
                                  <p style="font-weight: bold;font-size: 24px;color: #3f51b5;" id="disease"></p>
                                  <p style="font-weight: bold;font-size: 24px;color: #3f51b5;" id="accuracy"></p>
                                  <p>
                                      <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                                      aria-controls="collapseExample">
                                          View Graph <i class="fas fa-angle-down"></i>
                                      </a>
                                      <a href="/" class="ml-5">
                                          Try again <i class="fas fa-sync"></i>
                                      </a>
                                  </p>
                                  <div class="collapse" id="collapseExample">
                                      <div class="card card-body">
                                          <img id="graph" style="width: 350px">
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
  
          </div>
      </div>
    </div>
  </section>
  <!-- test setion -->
{% endblock %}