{% extends "app.html" %}

{% block title %}
    Fonctionalités
{% endblock %}

{% block content %}
    <!-- fonction banner -->
    <div class="custom_banner fonction page_section_big_padding">
        <div class="container">
            <div class="title">
                Fonctionnalités
                <svg class="arrow_container">
                    <use xlink:href="#arrow_down"></use>
                </svg>
            </div>
        </div>
    </div>
    <!-- fonction banner -->
    <!-- what is -->
    <section class="models page_section_medium_padding">
        <div class="container">
            <!-- <div class="row"> -->
                <div class="app_title">
                    Conception, Entrainement du modèle
                </div>
            <!-- </div> -->
            <div class="content bg_white" id="les-données">
                <div class="input">
                    <img class="input_img" src="../static/images/fonction/inp/inp1.png" alt="inp1">
                </div>
                <div class="reponse">
                    <img class="rep_img" src="../static/images/fonction/rep/rep1.png" alt="" >
                </div>
                <div class="input">
                    <img class="input_img" src="../static/images/fonction/inp/inp2.png" alt="inp2">
                </div>
                <div class="reponse">
                    <img class="rep_img" src="../static/images/fonction/rep/rep2.png" alt="" >
                </div>
                <div class="input">
                    <img class="input_img" src="../static/images/fonction/inp/inp3.png" alt="inp3">
                </div>
                <div class="reponse">
                    <img class="rep_img" src="../static/images/fonction/rep/rep3.png" alt="" >
                </div>
                <div class="input">
                    <img class="input_img" src="../static/images/fonction/inp/inp4.png" alt="inp">
                </div>
                <div class="reponse">
                    <img class="rep_img" src="../static/images/fonction/rep/rep4-1.png" alt="" >
                </div>
                <div class="reponse">
                    <img class="rep_img" src="../static/images/fonction/rep/rep4-2.png" alt="" >
                </div>
                <div class="reponse">
                    <img class="rep_img" src="../static/images/fonction/rep/rep4-2.png" alt="" >
                </div>
                <div class="reponse">
                    <img class="rep_img" src="../static/images/fonction/rep/rep4-3.png" alt="" >
                </div>
                <div class="reponse">
                    <img class="rep_img" src="../static/images/fonction/rep/rep4-4.png" alt="" >
                </div>
                <div class="reponse">
                    <img class="rep_img" src="../static/images/fonction/rep/rep4-5.png" alt="" >
                </div>
                <div class="reponse">
                    <img class="rep_img" src="../static/images/fonction/rep/rep4-6.png" alt="" >
                </div>
                <div class="reponse">
                    <img class="rep_img" src="../static/images/fonction/rep/rep4-7.png" alt="" >
                </div>
                <div class="reponse">
                    <img class="rep_img" src="../static/images/fonction/rep/rep4-8.png" alt="" >
                </div>
                <div class="reponse">
                    <img class="rep_img" src="../static/images/fonction/rep/rep4-9.png" alt="" >
                </div>
                <div class="reponse">
                    <img class="rep_img" src="../static/images/fonction/rep/rep4-10.png" alt="" >
                </div>
                <div class="input">
                    <img class="input_img" src="../static/images/fonction/inp/inp5.png" alt="inp">
                </div>
                <div class="input">
                    <img class="input_img" src="../static/images/fonction/inp/inp6.png" alt="inp">
                </div>
                <div class="input">
                    <img class="input_img" src="../static/images/fonction/inp/inp7.png" alt="inp">
                </div>
                <div class="input">
                    <img class="input_img" src="../static/images/fonction/inp/inp8.png" alt="inp">
                </div>
                <div class="input">
                    <img class="input_img" src="../static/images/fonction/inp/inp9.png" alt="inp">
                </div>
                <div class="input">
                    <img class="input_img" src="../static/images/fonction/inp/inp10.png" alt="inp">
                </div>
                <div class="input">
                    <img class="input_img" src="../static/images/fonction/inp/inp11.png" alt="inp">
                </div>
                <div class="input">
                    <img class="input_img" src="../static/images/fonction/inp/inp12.png" alt="inp">
                </div>
                <div class="input">
                    <img class="input_img" src="../static/images/fonction/inp/inp13.png" alt="inp">
                </div>
                <div class="input">
                    <img class="input_img" src="../static/images/fonction/inp/inp14.png" alt="inp">
                </div>
                <div class="input">
                    <img class="input_img" src="../static/images/fonction/inp/inp15.png" alt="inp">
                </div>
                <div class="input">
                    <img class="input_img" src="../static/images/fonction/inp/inp16.png" alt="inp">
                </div>
                <div class="input">
                    <img class="input_img" src="../static/images/fonction/inp/inp17.png" alt="inp">
                </div>
                <div class="input">
                    <img class="input_img" src="../static/images/fonction/inp/inp18.png" alt="inp">
                </div>
                <div class="input">
                    <img class="input_img" src="../static/images/fonction/inp/inp19.png" alt="inp">
                </div>
                <div class="input">
                    <img class="input_img" src="../static/images/fonction/inp/inp20.png" alt="inp">
                </div>
                <div class="reponse">
                    <img class="rep_img" src="../static/images/fonction/rep/rep20.png" alt="" >
                </div>
                <div class="input">
                    <img class="input_img" src="../static/images/fonction/inp/inp21.png" alt="inp21">
                </div>
                <div class="reponse">
                    <img class="rep_img" src="../static/images/fonction/rep/rep21-1.png" alt="" >
                </div>
                <div class="reponse">
                    <img class="rep_img" src="../static/images/fonction/rep/rep21-2.png" alt="" >
                </div>
                <div class="reponse">
                    <img class="rep_img" src="../static/images/fonction/rep/rep21-3.png" alt="" >
                </div>
                <div class="input">
                    <img class="input_img" src="../static/images/fonction/inp/inp22.png" alt="inp22">
                </div>
                <div class="reponse">
                    <img class="rep_img" src="../static/images/fonction/rep/rep22-1.png" alt="" >
                </div>
                <div class="reponse">
                    <img class="rep_img" src="../static/images/fonction/rep/rep22-2.png" alt="" >
                </div>
                <div class="reponse">
                    <img class="rep_img" src="../static/images/fonction/rep/rep22-3.png" alt="" >
                </div>
                <div class="reponse">
                    <img class="rep_img" src="../static/images/fonction/rep/rep22-4.png" alt="" >
                </div>
                <div class="input">
                    <img class="input_img" src="../static/images/fonction/inp/inp23.png" alt="inp23">
                </div>
                <div class="input">
                    <img class="input_img" src="../static/images/fonction/inp/inp24.png" alt="inp24">
                </div>
                <div class="input">
                    <img class="input_img" src="../static/images/fonction/inp/inp25.png" alt="inp25">
                </div>
                <div class="reponse">
                    <img class="rep_img" src="../static/images/fonction/rep/rep25.png" alt="" >
                </div>
                <div class="input">
                    <img class="input_img" src="../static/images/fonction/inp/inp26.png" alt="inp26">
                </div>
                <div class="reponse">
                    <img class="rep_img" src="../static/images/fonction/rep/rep26-1.png" alt="" >
                </div>
                <div class="reponse">
                    <img class="rep_img" src="../static/images/fonction/rep/rep26-2.png" alt="" >
                </div>
                <div class="input">
                    <img class="input_img" src="../static/images/fonction/inp/inp27.png" alt="inp27">
                </div>
                <div class="input">
                    <img class="input_img" src="../static/images/fonction/inp/inp28.png" alt="inp28">
                </div>
                <div class="reponse">
                    <img class="rep_img" src="../static/images/fonction/rep/rep28.png" alt="" >
                </div>
                <div class="input">
                    <img class="input_img" src="../static/images/fonction/inp/inp29.png" alt="inp29">
                </div>
                <div class="input">
                    <img class="input_img" src="../static/images/fonction/inp/inp30.png" alt="inp30">
                </div>
                <div class="reponse">
                    <img class="rep_img" src="../static/images/fonction/rep/rep30.png" alt="" >
                </div>
                <div class="input">
                    <img class="input_img" src="../static/images/fonction/inp/inp31.png" alt="inp31">
                </div>
                <div class="reponse">
                    <img class="rep_img" src="../static/images/fonction/rep/rep31.png" alt="" >
                </div>
            </div>
        </div>
    </section>
    <!-- what is -->
{% endblock %}
