{% extends "app.html" %}

{% block title %}
    Fonctionalités
{% endblock %}

{% block content %}
    <!-- fonction banner -->
    <div class="custom_banner fonction page_section_big_padding">
        <div class="container">
            <div class="title">
                Fonctionnalités
                <svg class="arrow_container">
                    <use xlink:href="#arrow_down"></use>
                </svg>
            </div>
        </div>
    </div>
    <!-- fonction banner -->
     <!--  -->
     <section class="page_section_big_padding">
        <div class="container">
            
        </div>
     </section>
     <!--  -->
{% endblock %}
