{% extends "app.html" %}

{% block title %}
    Dancare, détection de la Rétinopathie Diabétique
{% endblock %}

{% block content %}
    <!-- banner -->
    <div class="banner banner_section cover_background" >
        <div class="hero_content ">
            <div class="container ">
                <!-- <div class="row"> -->
                    <h1 class="title" id="faire-le-test">
                        Dancare, le futur
                    </h1>
                    <div class="subtitle w65">
                        Tester des images d'yeux atteint ou pas de Rétinopathie 
                        Diabétique, à l'aide d'images entrainés par un modèle 
                        CNN
                    </div>
                    <a href="{% url 'demo' %}" class="link more" >
                        <span>Faire le test maintenant</span>
                        <svg class="arrow_container">
                            <use xlink:href="#arrow_right" fill="#4464AD"></use>
                        </svg>
                    </a>
                <!-- </div> -->
            </div>
        </div>
    </div>
    <!-- banner -->
    <!-- what is -->
    <section class="whatis page_section_medium_padding" id="la-retinopatie-diabetique">
        <div class="container">
            <!-- <div class="row"> -->
                <div class="app_title">
                    C'est quoi, la Réthinopathie Diabétique ?
                </div>
            <!-- </div> -->
            <div class="content bg_white">
                ...
            </div>
        </div>
    </section>
    <!-- what is -->
    <!-- rd stage section -->
    <section class="stage page_section_big_padding" id="les-quatres-stades">
        <div class="container">
            <!-- <div class="row"> -->
                <div class="app_title">
                    Les différents stages
                </div>
                <div class="content">
                    <div class="col">
                        <div class="img_container">
                            <img src="../static/images/home/mild-npdr.png" alt="mild" srcset="">
                        </div>
                        <div class="name">
                            rétinopathie diabétique non proliférative légère
                        </div>
                    </div>
                    <div class="col">
                        <div class="img_container">
                            <img src="../static/images/home/mod-npdr.png" alt="mod" srcset="">
                        </div>
                        <div class="name">
                            Rétinopathie diabétique non proliférative modérée
                        </div>
                    </div>
                    <div class="col">
                        <div class="img_container">
                            <img src="../static/images/home/severe-npdr.png" alt="severe" srcset="">
                        </div>
                        <div class="name">
                            rétinopathie diabétique non proliférative sévère
                        </div>
                    </div>
                    <div class="col">
                        <div class="img_container">
                            <img src="../static/images/home/severe-npdr.png" alt="pro" srcset="">
                        </div>
                        <div class="name">
                            rétinopathie diabétique proliférante
                        </div>
                    </div>
                </div>
            <!-- </div> -->
        </div>
    </section>
    <!-- rd stage section -->
    <!-- popular section -->
    <section class="popular page_section ">
        <div class="container ">
            <div class="row">
                <div class="left">
                    <div class="app_title">
                        Dancare, avis de médécins compétants
                    </div>
                </div>
               <div class="right doctor_image"></div>
            </div>
        </div>
        <div class="section_bottom_radius "></div>
    </section>
    <!-- popular section -->
    <!-- thematic section -->
    <section class="thematic page_section_medium_padding">
        <div class="container">
            <div class="app_title">
                Nos thématiques, concepts
            </div>
            <div class="content">
                <div class="col">
                    <div class="bg_white">
                        <img src="../static/images/home/graph.svg" alt="graph" srcset="">
                        <div class="name">
                            Recherche et Coopération
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="bg_white">
                        <img src="../static/images/home/idea.svg" alt="idea" srcset="">
                        <div class="name">
                            Des idées brillantes
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="bg_white">
                        <img src="../static/images/home/layout.svg" alt="layout" srcset="">
                        <div class="name">
                            Une solution mutli-plateforme
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- thematic section -->

{% endblock %}


