// ------------ variables ---------------
$primary-color: #5BA21C; 
$secondary-color: #12B886; //from evaneos
$third-color: #005C56; //from evaneos
$border-radius: 10px;
$header-items-hover-color: #efefef;
$text-color: #343a40;
// ------------ variables ---------------

/* ------------ custom font --------------- */
@font-face {
  font-family: "GT America";
  src: url("../fonts/GT-America/GT-America-Regular.ttf");
}
@font-face {
  font-family: "handenburg";
  src: url("../fonts/hardenburg/HardenburgRegular.ttf");
}
@font-face {
  font-family: "handenburg bold";
  src: url("../fonts/hardenburg/HardenburgBold.ttf");
}
/* ------------ custom font --------------- */
/* ------------ glabal styles --------------- */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #efefef;
  font-size: 14px;
  font-family: "GT America";
  color: #343a40;
}

.link {
  text-decoration: none;
}

.banner_section {
  position: relative;
  padding: 200px 0;
}

.hidden {
  display: none;
}

.page_section {
  position: relative;
  padding: 40px 0;
}

.page_section_medium_padding {
  position: relative;
  padding: 65px 0;
}

.page_section_big_padding {
  position: relative;
  padding: 100px 0;
}

.cover_background {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.width {
  width: 85%;
}

.w75 {
  width: 75%;
}

.w70 {
  width: 70%;
}

.middle_width {
  width: 50%;
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 85%;
  border: 1px solid red;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.btn {
  padding: 6px 10px;
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: #5BA21C;
  color: #fff;
  font-weight: 700;
}

.bold {
  font-weight: 600;
}

.bg_white {
  background-color: #fff;
}

.bg_primary {
  background-color: #5BA21C;
}

.app_title {
  position: relative;
  font-size: 2rem;
  color: #343a40;
  text-align: center;
  font-weight: 700;
  text-align: left;
  margin-bottom: 40px;
}
.app_title:after {
  content: '';
  position: absolute;
  bottom: -12px;
  left: 0;
  width: 60px;
  height: 4px;
  background-color: $secondary-color;
  margin-top: 10px;
}

.custom_banner {
  background-color: #12B886;

  .title {
    font-size: 3.3rem;
    color: #fff;
    font-weight: 700;

    .arrow_container {
      background-color: #fff;
      padding: 10px;
      border-radius: 50%;
      margin-left: 10px;
      position: relative;
      top: 0;
      transition: 2s ease;
      -webkit-animation: toptobottom 1.5s infinite linear;
      animation: toptobottom 1.5s infinite linear;
    }
    svg {
      width: 40px;
      height: 40px;
    }
  }

}


/* ------------ global styles --------------- */
/* ------------ header --------------- */
header {
  padding: 10px 0;
  border-bottom: 1px solid #efefef;
  background-color: #fff;

  .headside {
    margin: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .headside_left {
      img {
      width: 190px;
      height: 36px;
      }
    }
    .headside_right {
      display: flex;
      justify-content: center;
      align-items: center;

      .item {
        padding: 6px 8px;
        margin: 0 5px;
        color: $text-color;
        border-radius: 6px;
        font-weight: 600;
      }
      .item:hover {
        background-color: #efefef;
      }

      .button {
        padding: 6px 8px;
        margin: 0 5px;
        border-radius: 6px;
        background-color: #12B886;
        color: #fff;
        font-weight: 700;
      }

    }
  }
}


/* ------------ header --------------- */
/* ------------ footer --------------- */
footer {
  background-color: #343a40;
  padding-bottom: 10px;

  .footer_links {
    padding: 40px 0;
    color: #efefef;

    .c_grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      column-gap: 15px;
    }

    .footer_title {
      font-weight: 700;
      font-size: 2.8rem;
      grid-column-start: 1;
      grid-column-end: 6;

      .title {
        color: #fff;
      }
    }

    .util_links {
      grid-column-start: 8;
      grid-column-end: 10;
      margin-top: -15px;
    }

    .about {
      grid-column-start: 10;
      grid-column-end: 12;
      margin-top: -15px;
    }

    .fonction {
      grid-column-start: 12;
      grid-column-end: 14;
      margin-top: -15px;
    }

    .link {
      color: #9e9e9e;
      font-weight: 600;
      transition: 0.2s ease;
    }
    .link:hover {
      color: #fff;
    }

  }

  .separator {
    width: 80%;
    height: 1px;
    border-top: 1px dashed #848484;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
  }

  .footer_socials {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;

    .social {
      padding: 0 10px;
      margin: 0 20px;

      svg {
        width: 30px;
        height: 30px;
      }
    }
  }

  .copyright {
    text-align: center;
    color: #fff;
  }
}









/* ------------ footer --------------- */

/*# sourceMappingURL=app.scss.map */
