// ------------ variables ---------------
$primary-color: #4464AD;  /*#5BA21C; */
// $secondary-color: #12B886; //from evaneos
$secondary-color: #ED776B;
$third-color: #005C56; //from evaneos
$border-radius: 10px;
$header-items-hover-color: #efefef;
$text-color: #343a40;
// ------------ variables ---------------

.demo {
    position: relative;
}


.directives {

    .content {
        padding: 20px 15px;
        border-radius: $border-radius;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        transition: 0.5s ease;
        cursor: pointer;

        .content_title {
            font-size: 1.4em;
            font-weight: 600;
        }
        ul {
            list-style-type: none;
            font-size: 1.2em;
            li {
                padding-bottom: 5px;
            }
            svg {
                width: 15px;
                height: 15px;
                margin-right: 5px;
            }
        }
        .second_color {
            color: $secondary-color;
            text-decoration: underline;
            font-weight: 600;
        }
    }
    .content:hover {
        box-shadow: none;
        .content_title {
            color: $secondary-color;
        }
    }
}


.pratique {
    padding-top: 10px;

    .main_content {
        padding: 20px 15px 30px 15px;
        border-radius: $border-radius;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        transition: 0.5s ease;

        .content {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
            // gap: 15px;

            .image_container {
                img {
                    width: 400px;
                    height: 400px;
                }
            }
            .image_container img, .image_container img#banner {
                border-radius: $border-radius;
                border: 1px solid #efefef;
                box-shadow: 5px 5px 8px #efefef;
            }

            .select_image_container {
                .card {
                    padding: 70px 0 50px;
                    
                    .card_top, .card_center {
                        text-align: center;
                    }
                    .card_top {
                        font-size: 1.3em;
                        color: $text-color;
                        font-weight: 700;
                        // border: 1px solid red;
                    }
                    .card_center {
                        margin: 40px 0;
                        // border: 1px solid greenyellow;
                        .arrow_container {
                            background-color: rgba(0, 0, 0, 0.2);
                            padding: 10px;
                            border-radius: 50%;
                            margin-left: 10px;
                            position: relative;
                            top: 0;
                            transition: 2s ease;
                            -webkit-animation: toptobottom 1s infinite linear;
                            animation: toptobottom 1s infinite linear;
                          }
                          svg {
                            width: 40px;
                            height: 40px;
                          }
                    }
                    .card_bottom {
                        border: 1px solid #efefef;
                        text-align: center;
                        padding: 40px 20px;
                        border-radius: $border-radius;
                        cursor: pointer;
                        transition: .3s ease;
                        button, input {
                            cursor: pointer;
                        }
                    }
                    .card_bottom:hover {
                        box-shadow: 5px 5px 10px #efefef;
                    }

                }
            }
        }

        .button_container {
            display: flex;
            justify-content: center;
            margin-top: 30px;
            .test_button {
                display: flex;
                align-items: center;
                background-color: $secondary-color;
                padding: 12px 30px;
                border-radius: 18px;
                font-size: 1.2em;
                box-shadow: 5px 5px 8px #efefef;
                transition: 0.5s ease;
                cursor: pointer;
                svg {
                    width: 30px;
                    height: 30px;
                    margin-left: 10px;
                }
            }
            .test_button:hover {
                transform: scale(0.96);
                box-shadow: none;
            }
        }

    }
    .main_content:hover {
        box-shadow: none;
    }


}




.test {

    .container {

        .top_title {
            margin: 0;
            padding: 0 50px;
            text-align: center;
            font-size: 1.8rem;
            text-align: center;
            margin-bottom: 40px;
            .second_color {
                color: $secondary-color;
            }
        }

        .row {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .col {
                padding: 15px;
                border-radius: $border-radius;
                border: 1px solid #cecece;
                box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
            }
            
            .image_container {

                img {
                    width: 400px;
                    height: 400px;
                }
            }

            .card {
                display: flex;
                flex-direction: column;
            }

            .select_image_container {
                padding: 120px 40px;

                .card_header {
                    h5 {
                        margin: 0;
                        font-size: 1.7em;
                        margin-bottom: 30px;
                    }
                }

                .btn {
                    background-color: $secondary-color;
                }
            }
        }
    }
}

@keyframes toptobottom {
    0% {top: -30px}
    100% {top: 30px}
}